// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 13px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";
//@import "../base/base.scss";

@mixin mytheme {
    @include valo;

    .v-embedded-image-hand {
        cursor: pointer;
    }

    .v-label-header {
        font-size: 18px;
        font-weight: bold;
    }

    .filters-panel {
        background-color: #D4D7D9;
        width: 90000px;
        overflow: hidden;
        height: 33px;
    }

    .v-app .v-table .filters-panel input.v-textfield.v-widget, 
    .v-window .v-table .filters-panel input.v-textfield.v-widget {
        height: 23px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        padding: 1px 2px; /* Fixes issue with Chameleon theme's TextField paddings in em's */
        font-weight: 400;
        font-size: 14px;
        color: black;
    }

    /* DateFilter button styles */
    .datefilterpopup .v-popupbutton,
    .datefilterpopup .v-popupbutton:focus,
        .datefilterpopup .v-popupbutton:active,
        .datefilterpopup .v-popupbutton.v-pressed {
        background: #fff none repeat-x 0 100%;
        height: 28px;
        border: 1px solid #b7b7b7;
        border-top: 1px solid #b7b7b7;
        position: relative;
    }

    .warningBox{
        border: solid 2px cornflowerblue;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-align: center;
        font-size: larger;
        overflow:hidden !important;
    }

    .troubleHeader{
        background-color: #000000;
        color:blue;
    }

    .v-textfield.numerical {
        text-align: right;
    }

    .v-verticallayout-toolbox {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: white;
        min-width: 12px;
        max-width: 160px;
    }
}
